.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: gray;
  font-style: italic;
}

button {
  border: none;
  cursor: pointer;
}
